@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './base.css';
@import "tailwindcss";
@theme inline {
  --font-inter: "Inter", system-ui, sans-serif;
  --font-sans: var(--font-inter);
}
:root { font-family: var(--default-font-family); }

#app {
  font-weight: normal;
}


.button-outline {
  @apply text-[var(--color-gold)] rounded-xl font-semibold text-lg transition-all duration-150 border-2;
  border-color: var(--color-gold);
  box-shadow: 0 0 0 0 color-mix(in srgb, var(--color-gold) 30%, transparent);
}

.button-outline:hover {
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-gold) 30%, transparent);
  transform: scale(calc((100% + 2px) / 100%));
}

.button-solid {
  @apply text-white rounded-xl font-semibold text-lg transition-all duration-150 border-2;
  background: var(--color-gold);
  border-color: var(--color-gold);
}

.button-solid:hover {
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-gold) 40%, transparent);
  transform: scale(calc((100% + 2px) / 100%));
}

a,
.green {
  text-decoration: none;
  color: var(--color-dark);
  padding: 3px;
}

.glass::before {
  content: '';
  position: absolute;
  inset: 0;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 0; /* sits under content */
  border-radius: inherit;
}

.glass > * {
  z-index: 1;
}