@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './base.css';
@import "tailwindcss";
@theme inline {
  --font-inter: "Inter", system-ui, sans-serif;
  --font-sans: var(--font-inter);
}
:root { font-family: var(--default-font-family); }

#app {
  font-weight: normal;
}


.button-outline {
  @apply border-2 border-blue-600 text-blue-600 rounded-xl font-semibold text-lg transition-all duration-150;
  box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.3);
}

.button-outline:hover {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
    transform: scale(calc((100% + 2px) / 100%));

}

.button-solid {
  @apply border-2 border-blue-600 bg-blue-600 text-white rounded-xl font-semibold text-lg transition-all duration-150;
  box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
}

.button-solid:hover {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4);
    transform: scale(calc((100% + 2px) / 100%));

}
a,
.green {
  text-decoration: none;
  color: var(--color-dark);
  padding: 3px;
}

.glass::before {
  content: '';
  position: absolute;
  inset: 0;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 0; /* sits under content */
  border-radius: inherit;
}

.glass > * {
  z-index: 1;
}