@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './base.css';
@import "tailwindcss";
@theme inline {
  --font-inter: "Inter", system-ui, sans-serif;
  --font-sans: var(--font-inter);
}
:root { font-family: var(--default-font-family); }

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-dark);
  padding: 3px;
}

.glass::before {
  content: '';
  position: absolute;
  inset: 0;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 0; /* sits under content */
  border-radius: inherit;
}

.glass > * {
  z-index: 1;
}